<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>654942302961-3shdgo62a8oq3nirldvhvpc8alo0o6t3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.654942302961-3shdgo62a8oq3nirldvhvpc8alo0o6t3</string>
	<key>API_KEY</key>
	<string>AIzaSyDQRZbQF7zvnnjld_WS0aw0C-y0v6qcnQM</string>
	<key>GCM_SENDER_ID</key>
	<string>654942302961</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yummy.yummy.prod</string>
	<key>PROJECT_ID</key>
	<string>yummy-fremfi-prod</string>
	<key>STORAGE_BUCKET</key>
	<string>yummy-fremfi-prod.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:654942302961:ios:d7dbf8b4897cd79804af50</string>
</dict>
</plist>